body {
    background-color: #b7b7a4;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: medium;
    font-weight: 500;
    color: #fff;
}

#wrapper {
    margin-top: 10% !important;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

#content {
    background: #0077b6;
}

#content > p {
    text-align: center;
    padding-top: 0;
}

#add-btn {
    background-color: #0A9396;
    border-color: #0A9396;
    color: #fff;
}

.t10 {
	margin-top: 10px;
}

.t20 {
	margin-top: 20px;
}

.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
